@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem pasa a valer a 10px.*/
}

/* Tipografías */
@font-face {
  font-family: "raleway-light";
  src: url("../font/Raleway-Light.ttf");
}
@font-face {
  font-family: "raleway-regular";
  src: url("../font/Raleway-Regular.ttf");
}
@font-face {
  font-family: "raleway-medium";
  src: url("../font/Raleway-Medium.ttf");
}
@font-face {
  font-family: "raleway-bold";
  src: url("../font/Raleway-Bold.ttf");
}
@font-face {
  font-family: "raleway-bold-italic";
  src: url("../font/Raleway-BoldItalic.ttf");
}
@font-face {
  font-family: "raleway-extrabold";
  src: url("../font/Raleway-ExtraBold.ttf");
}
/* Fin Tipografías */
/* Header */
.header .nav {
  width: 100%;
  padding: 5px 70px;
  background-color: transparent;
}
.header .nav .logo {
  width: 5%;
  height: 5%;
}
.header .nav .hamburger {
  font-size: 2.5rem;
  border: 1px solid transparent;
}
.header .nav .nav-item .item {
  font-family: "raleway-medium";
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #fafafa;
  padding: 6px 15px;
}
.header .nav .nav-item .item:hover {
  border-bottom: #6e50f9 3px solid;
  color: #fafafa;
}
.header .nav .submenu {
  min-width: 11.5rem;
  font-family: "raleway-regular";
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #7d60f5;
  background-color: #eeeeee;
  margin-left: 4px;
  border-radius: 0%;
}
.header .nav .submenu .submenu-item {
  color: #6e50f9;
}
.header .nav .submenu .submenu-item:hover {
  background-color: #7d60f5;
  color: #fafafa;
}
.header .favoritos:hover {
  background-image: url("../multimedia/favoritos_2.svg");
  background-repeat: no-repeat;
}

/* Fin Header */
/* Media Querys Header */
/* Mobile */
@media only screen and (max-width: 480px) {
  .header .nav {
    padding: 0 5px;
  }
  .header .nav .logo {
    width: 18%;
    height: 18%;
    margin: 10px 0;
  }
  .header .nav .hamburger {
    text-align: right;
  }
  .header .nav .nav-item .item {
    font-size: 1.7rem;
    padding: 7px 15px;
  }
  .header .nav .submenu {
    font-size: 1.7rem;
    margin-left: 0;
  }
  .header .nav .perfil {
    margin-bottom: 10px;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header .nav {
    padding: 5px 30px;
  }
  .header .nav .logo {
    width: 10%;
    height: 10%;
    margin: 13px 0;
  }
  .header .nav .hamburger {
    text-align: right;
  }
  .header .nav .perfil {
    margin-bottom: 10px;
  }
}
/* Fin Media Querys Header */
/* Pie de página */
.footer {
  background-color: #76c0b4;
  width: 100%;
  display: flex;
  padding: 40px 0 0px 0;
  flex-direction: column;
  align-items: center;
}
.footer .footer-li {
  text-align: center;
}
.footer .footer-li .footer-li-2 {
  display: inline-block;
}
.footer .footer-li li a {
  font-family: "raleway-light";
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  margin: 20px;
}
.footer .footer-li li a:hover {
  text-decoration: underline;
}
.footer .redes {
  position: sticky;
  top: 2900px;
  text-align: center;
}
.footer .redes p {
  font-family: "raleway-bold";
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #6e50f9;
  padding: 40px 0 0 0;
}
.footer .redes .redes-img {
  margin-top: -5px;
}
.footer .redes .redes-img img {
  margin: 0 20px;
  width: 4rem;
  height: 4rem;
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  -moz-transition: 2s linear;
  transition: 2s linear;
}
.footer .redes .redes-img img:hover {
  -webkit-transform: rotate(360deg) scale(1);
  -o-transform: rotate(360deg) scale(1);
  -moz-transform: rotate(360deg) scale(1);
  transform: rotate(360deg) scale(1);
}
.footer .redes .redes-img a {
  text-decoration: none;
}

.legal {
  font-family: "raleway-light";
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #76c0b4;
  width: 100%;
  color: #eeeeee;
  padding: 50px 0;
  margin: 0;
}

/* Fin pie de página */
/* Media Querys Footer */
/* Mobile */
@media only screen and (max-width: 480px) {
  .footer {
    width: 100%;
    padding: 40px 0 0px 0;
  }
  .footer .footer-li .footer-li-2 {
    margin: 10px 0;
    text-align: center;
  }
  .footer .footer-li li a {
    font-size: 1.5rem;
    margin: 20px;
  }
  .footer .redes {
    position: sticky;
    top: 2900px;
    text-align: center;
  }
  .footer .redes p {
    font-size: 1.5rem;
    padding: 40px 0 10px 0;
  }
  .footer .redes .redes-img {
    margin-top: -5px;
  }
  .footer .redes .redes-img img {
    width: 3rem;
  }

  .legal {
    padding: 50px 60px 70px 50px;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer .footer-li {
    padding: 20px 0 10px 0;
  }
  .footer .footer-li .footer-li-2 a {
    font-size: 1.6rem;
  }

  .legal {
    padding: 40px 185px;
  }
}
/* Fin Media Footer */
/* Fin Pie de Página */
.recorridos .lugares-contenedor .lugares-card, .recorridos .lugares-contenedor, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior, .preferencias .preferencias-contenedor, .contacto .formulario {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.quienes .info-quienes-somos, .opiniones .opiniones-contenedor, .online .container-online, .top-10 .destinos-contenedor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav, .quienes .quienes-icon, .recorridos .recorridos-inicio, .inicio-aventuras .contenedor-aventuras {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.error .boton, .recorridos .boton-ciudades a, .contacto .formulario .form button {
  border-radius: 5px;
  padding: 10px;
}

.inicio-aventuras .continentes a, .top-10 .destinos-contenedor .destinos-card .top-a, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencia-a {
  font-family: "raleway-regular";
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}

/* Sección Contacto */
.contacto {
  background: linear-gradient(45deg, rgba(181, 144, 255, 0.5), rgba(199, 255, 240, 0.5), rgba(181, 144, 255, 0.5), rgba(199, 255, 240, 0.5)) 0 0/1000% no-repeat, url("../multimedia/imagen-contacto.jpg") 0 0/cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 90px;
}
.contacto .formulario {
  padding: 0 380px;
}
.contacto .formulario .form {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 0.5rem;
  background: #fafafa;
  overflow: hidden;
  padding: 45px;
}
.contacto .formulario .form h2 {
  font-family: "raleway-bold";
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #39c2b6;
  letter-spacing: 4px;
  margin-bottom: 50px;
}
.contacto .formulario .form .form-label {
  font-family: "raleway-medium";
  font-size: 1.5rem;
  text-align: left;
  color: #7d60f5;
  margin-bottom: 7px;
}
.contacto .formulario .form .form-input {
  font-family: "raleway-medium";
  font-size: 1.5rem;
  text-align: left;
  border-width: 0px;
  border-bottom: #76c0b4 1px solid;
  background: transparent;
  width: 100%;
  margin-bottom: 30px;
  outline: 0;
}
.contacto .formulario .form .select {
  text-transform: none;
  font-family: "raleway-medium";
  font-size: 1.5rem;
  text-align: left;
  color: #39c2b6;
  margin-bottom: 20px;
}
.contacto .formulario .form .form-textarea {
  font-family: "raleway-medium";
  font-size: 1.5rem;
  text-align: left;
  border: #76c0b4 1px solid;
  width: 100%;
  margin-bottom: 20px;
  outline: 0;
}
.contacto .formulario .form button {
  width: 30%;
  background-color: #b590ff;
  border: 1px solid #b590ff;
  font-family: "raleway-regular";
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
}
.contacto .formulario .form button:hover {
  background-color: #7d60f5;
  border: 1px solid #7d60f5;
}

/* Whatsapp */
.wsp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  background-color: #4dc247;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 50%;
  padding: 9px;
  width: 3.5%;
}
.wsp .wsp-icon {
  width: 100%;
  height: 100%;
}

/* Fin Whatsapp */
/* Fin Sección Contacto */
/* Media Querys Sección Contacto */
/* Mobile */
@media only screen and (max-width: 480px) {
  .contacto {
    padding: 80px 0;
  }
  .contacto .formulario {
    padding: 0 0;
  }
  .contacto .formulario .form {
    width: 80%;
    padding: 40px 30px;
  }
  .contacto .formulario .form h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
  .contacto .formulario .form button {
    width: 40%;
  }

  .wsp {
    vertical-align: middle;
    width: 11.5%;
  }
}
/* Fin Mobile */
/* Tablet  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contacto {
    padding: 100px 0;
  }
  .contacto .formulario {
    padding: 0 0;
  }
  .contacto .formulario .form {
    width: 70%;
    padding: 40px 40px;
  }

  .wsp {
    width: 6%;
  }
}
/* Fin Tablet */
/* Fin Media Querys Sección Contacto */
/* Index */
.container-background {
  background: linear-gradient(45deg, rgba(181, 144, 255, 0.5), rgba(199, 255, 240, 0.5), rgba(181, 144, 255, 0.5), rgba(199, 255, 240, 0.5)) 0 0/1000% no-repeat, url("../multimedia/imagen-inicio.jpg") 0 0/cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0;
  /* Sección Imagen Inicio */
  /* Fin Sección Imagen Inicio */
}
@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  25% {
    background-position: 100% 70%, 0 0;
  }
  50% {
    background-position: 0% 30%, 0 0;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  25% {
    background-position: 100% 70%, 0 0;
  }
  50% {
    background-position: 0% 30%, 0 0;
  }
}
.container-background .imagen-inicio h1 {
  font-family: "raleway-extrabold";
  font-size: 7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  color: #fafafa;
  margin-top: 15%;
  -webkit-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.container-background .imagen-inicio h1:hover {
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
}
.container-background .imagen-inicio p {
  font-family: "raleway-bold";
  font-size: 2.5rem;
  text-align: center;
  margin: 2px;
  letter-spacing: 4px;
  color: #fafafa;
  text-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

/* Sección Preferencias */
.preferencias {
  background-color: #eeeeee;
  background-image: url("../multimedia/preferencias_fondo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  text-align: center;
  padding: 55px 0px;
}
.preferencias h2 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  padding-bottom: 60px;
  padding-top: 25px;
  color: #515151;
}
.preferencias .preferencias-contenedor .preferencias-card {
  padding: 0 10px 10px 10px;
  border-radius: 0.5rem;
  width: 12%;
  height: 12%;
  margin: 11px 85px 50px 85px;
}
.preferencias .preferencias-contenedor .preferencias-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: #76c0b4;
}
.preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior:hover {
  filter: grayscale(100%);
  filter: brightness(3);
}
.preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img1, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img2, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img3, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img4, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img5, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img6 {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencia-a {
  letter-spacing: 2px;
  margin-top: -11px;
  color: #76c0b4;
}

/* Fin Sección Preferencias */
/* Sección Top 10 */
.top-10 {
  background-color: #7d60f5;
  padding-bottom: 70px;
  padding: 80px 0 110px 0;
}
.top-10 h2 {
  font-family: "raleway-extrabold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #b590ff;
}
.top-10 p {
  font-family: "raleway-medium";
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  color: #fafafa;
  padding-bottom: 30px;
}
.top-10 .destinos-contenedor {
  padding-right: 30px;
  padding-left: 30px;
}
.top-10 .destinos-contenedor .destinos-card {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 15px;
}
.top-10 .destinos-contenedor .destinos-card:hover {
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.top-10 .destinos-contenedor .destinos-card img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.top-10 .destinos-contenedor .destinos-card .top-a {
  color: #fafafa;
  text-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin-top: -54px;
  margin-bottom: 30px;
}
.top-10 .flecha {
  margin: -40px;
}
.top-10 .flecha .flecha-icon {
  width: 4rem;
  height: 4rem;
}

/* Fin Sección Top 10 */
/* Sección Mapa inicio */
.mapa-1 {
  background-color: #eeeeee;
  padding: 80px 0 110px 0;
}
.mapa-1 h2 {
  font-family: "raleway-bold";
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #515151;
  padding: 20px 0;
}
.mapa-1 p {
  font-family: "raleway-bold-italic";
  font-size: 2rem;
  text-align: center;
  color: #39c2b6;
  padding-bottom: 20px;
}
.mapa-1 .gps {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.mapa-1 .gps .gps1, .mapa-1 .gps .gps2, .mapa-1 .gps .gps3, .mapa-1 .gps .gps4, .mapa-1 .gps .gps5, .mapa-1 .gps .gps6, .mapa-1 .gps .gps7, .mapa-1 .gps .gps8 {
  width: 2%;
  height: 2%;
  opacity: 0;
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.mapa-1:hover .gps1 {
  -webkit-transform: translateY(180px);
  -o-transform: translateY(180px);
  -moz-transform: translateY(180px);
  transform: translateY(180px);
  opacity: 5;
}
.mapa-1:hover .gps2 {
  -webkit-transform: translateY(360px);
  -o-transform: translateY(360px);
  -moz-transform: translateY(360px);
  transform: translateY(360px);
  opacity: 5;
}
.mapa-1:hover .gps3 {
  -webkit-transform: translateY(643px);
  -o-transform: translateY(643px);
  -moz-transform: translateY(643px);
  transform: translateY(643px);
  opacity: 5;
}
.mapa-1:hover .gps4 {
  -webkit-transform: translateY(450px);
  -o-transform: translateY(450px);
  -moz-transform: translateY(450px);
  transform: translateY(450px);
  opacity: 5;
}
.mapa-1:hover .gps5 {
  -webkit-transform: translateY(550px);
  -o-transform: translateY(550px);
  -moz-transform: translateY(550px);
  transform: translateY(550px);
  opacity: 5;
}
.mapa-1:hover .gps6 {
  -webkit-transform: translateY(300px);
  -o-transform: translateY(300px);
  -moz-transform: translateY(300px);
  transform: translateY(300px);
  opacity: 5;
}
.mapa-1:hover .gps7 {
  -webkit-transform: translateY(654px);
  -o-transform: translateY(654px);
  -moz-transform: translateY(654px);
  transform: translateY(654px);
  opacity: 5;
}
.mapa-1:hover .gps8 {
  -webkit-transform: translateY(195px);
  -o-transform: translateY(195px);
  -moz-transform: translateY(195px);
  transform: translateY(195px);
  opacity: 5;
}
.mapa-1 .mapa-1-img {
  width: 100%;
  height: 100%;
}

/* Fin Sección Mapa inicio */
/* Media Querys Index*/
/* Mobile */
@media only screen and (max-width: 480px) {
  /* Sección Imagen Inicio */
  .container-background {
    overflow: hidden;
  }
  .container-background .imagen-inicio {
    width: 100%;
    overflow: hidden;
  }
  .container-background .imagen-inicio h1 {
    font-family: "raleway-extrabold";
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    padding: 35px 30px;
    margin-top: 12%;
    text-align: center;
    letter-spacing: 6px;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  .container-background .imagen-inicio h1:hover {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  .container-background .imagen-inicio p {
    font-family: "raleway-bold";
    font-size: 2rem;
    text-align: center;
    padding: 20px 40px;
    letter-spacing: 2px;
  }

  /* Fin Sección Imagen Inicio */
  /* Sección Preferencias */
  .preferencias {
    padding: 55px 0;
  }
  .preferencias h2 {
    font-family: "raleway-bold";
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 0 0 5px 0;
    color: #515151;
  }
  .preferencias .preferencias-contenedor .preferencias-card {
    width: 55%;
    height: 55%;
    margin: 30px 0 0 0;
  }
  .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img1, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img2, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img3, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img4, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img5, .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencias-img6 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencia-a {
    font-size: 2.5rem;
    margin-top: -11px;
  }

  /* Fin Sección Preferencias */
  /* Sección Top 10 */
  .top-10 {
    padding: 55px 0;
  }
  .top-10 h2 {
    letter-spacing: 8px;
  }
  .top-10 p {
    font-size: 2.2rem;
    letter-spacing: 2px;
    padding: 15px 50px;
  }
  .top-10 .destinos-contenedor {
    display: flex;
    padding: 0 25px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .top-10 .destinos-contenedor .destinos-card .top-a {
    font-size: 2.5rem;
    margin-top: -60px;
  }
  .top-10 .flecha {
    margin: 0;
    width: 11rem;
  }

  /* Fin Sección Top 10 */
  /* Sección Mapa inicio */
  .mapa-1 {
    padding: 55px 0;
  }
  .mapa-1 h2 {
    padding: 0 15px;
    letter-spacing: 8px;
  }
  .mapa-1 p {
    font-size: 2.2rem;
    padding: 15px 20px;
  }
  .mapa-1:hover .gps1 {
    -webkit-transform: translateY(46px);
    -o-transform: translateY(46px);
    -moz-transform: translateY(46px);
    transform: translateY(46px);
    opacity: 5;
  }
  .mapa-1:hover .gps2 {
    -webkit-transform: translateY(87px);
    -o-transform: translateY(87px);
    -moz-transform: translateY(87px);
    transform: translateY(87px);
    opacity: 5;
  }
  .mapa-1:hover .gps3 {
    -webkit-transform: translateY(159px);
    -o-transform: translateY(159px);
    -moz-transform: translateY(159px);
    transform: translateY(159px);
    opacity: 5;
  }
  .mapa-1:hover .gps4 {
    -webkit-transform: translateY(112px);
    -o-transform: translateY(112px);
    -moz-transform: translateY(112px);
    transform: translateY(112px);
    opacity: 5;
  }
  .mapa-1:hover .gps5 {
    -webkit-transform: translateY(135px);
    -o-transform: translateY(135px);
    -moz-transform: translateY(135px);
    transform: translateY(135px);
    opacity: 5;
  }
  .mapa-1:hover .gps6 {
    -webkit-transform: translateY(75px);
    -o-transform: translateY(75px);
    -moz-transform: translateY(75px);
    transform: translateY(75px);
    opacity: 5;
  }
  .mapa-1:hover .gps7 {
    -webkit-transform: translateY(160px);
    -o-transform: translateY(160px);
    -moz-transform: translateY(160px);
    transform: translateY(160px);
    opacity: 5;
  }
  .mapa-1:hover .gps8 {
    -webkit-transform: translateY(49px);
    -o-transform: translateY(49px);
    -moz-transform: translateY(49px);
    transform: translateY(49px);
    opacity: 5;
  }

  /* Fin Sección Mapa inicio */
}
/* Fin Mobile */
/* Tablet  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Sección Imagen Inicio */
  .container-background .imagen-inicio h1 {
    padding: 35px 30px;
    margin-top: 30%;
  }
  .container-background .imagen-inicio p {
    padding: 25px 30px;
  }

  /* Fin Sección Imagen Inicio */
  /* Sección Preferencias */
  .preferencias {
    padding: 60px 0 20px 0;
  }
  .preferencias h2 {
    padding: 0 0 40px 0;
    text-align: center;
  }
  .preferencias .preferencias-contenedor .preferencias-card {
    margin: 0 20px 40px 20px;
    width: 21%;
  }
  .preferencias .preferencias-contenedor .preferencias-card .preferencias-card-interior .preferencia-a {
    margin-top: -9px;
  }

  /* Fin Sección Preferencias */
  /* Sección Top 10 */
  .top-10 {
    padding: 55px 0 40px 0;
  }
  .top-10 p {
    padding: 15px 0;
    letter-spacing: 6px;
  }
  .top-10 .destinos-contenedor {
    padding: 0 10px;
  }
  .top-10 .destinos-contenedor .destinos-card {
    padding: 18px 5px;
  }
  .top-10 .destinos-contenedor .destinos-card .top-a {
    font-size: 1.7rem;
    margin-top: -40px;
  }
  .top-10 .flecha {
    margin: 0 4px;
    width: 6rem;
  }

  /* Fin Sección Top 10 */
  /* Sección Mapa inicio */
  .mapa-1 {
    padding: 40px 0;
  }
  .mapa-1 h2 {
    padding: 15px 65px;
  }
  .mapa-1 p {
    padding: 10px 0;
  }
  .mapa-1:hover .gps1 {
    -webkit-transform: translateY(95px);
    -o-transform: translateY(95px);
    -moz-transform: translateY(95px);
    transform: translateY(95px);
    opacity: 5;
  }
  .mapa-1:hover .gps2 {
    -webkit-transform: translateY(180px);
    -o-transform: translateY(180px);
    -moz-transform: translateY(180px);
    transform: translateY(180px);
    opacity: 5;
  }
  .mapa-1:hover .gps3 {
    -webkit-transform: translateY(325px);
    -o-transform: translateY(325px);
    -moz-transform: translateY(325px);
    transform: translateY(325px);
    opacity: 5;
  }
  .mapa-1:hover .gps4 {
    -webkit-transform: translateY(228px);
    -o-transform: translateY(228px);
    -moz-transform: translateY(228px);
    transform: translateY(228px);
    opacity: 5;
  }
  .mapa-1:hover .gps5 {
    -webkit-transform: translateY(275px);
    -o-transform: translateY(275px);
    -moz-transform: translateY(275px);
    transform: translateY(275px);
    opacity: 5;
  }
  .mapa-1:hover .gps6 {
    -webkit-transform: translateY(150px);
    -o-transform: translateY(150px);
    -moz-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 5;
  }
  .mapa-1:hover .gps7 {
    -webkit-transform: translateY(327px);
    -o-transform: translateY(327px);
    -moz-transform: translateY(327px);
    transform: translateY(327px);
    opacity: 5;
  }
  .mapa-1:hover .gps8 {
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 5;
  }

  /* Fin Sección Mapa inicio */
}
/* Fin Tablet */
/* Fin Media Querys Index */
/* Fin Index */
/* Aventuras */
.inicio-aventuras {
  background-color: #eeeeee;
  width: 100%;
  padding: 40px 20px 120px 20px;
}
.inicio-aventuras h1 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #39c2b6;
  padding-top: 80px;
}
.inicio-aventuras .continentes {
  padding: 50px 0 70px 0;
  text-align: center;
}
.inicio-aventuras .continentes p {
  font-family: "raleway-medium";
  font-size: 2.5rem;
  text-align: center;
  color: #515151;
  padding: 20px;
}
.inicio-aventuras .continentes a {
  color: #515151;
  text-transform: uppercase;
  padding: 10px 20px 20px 20px;
  margin: 10px;
}
.inicio-aventuras .continentes a:hover {
  color: #76c0b4;
  text-decoration: underline;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras {
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: transparent;
  border-radius: 8px;
  width: 28rem;
  overflow: hidden;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .img-aventuras {
  border-radius: 8px 8px 0 0;
  height: 15%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .img-aventuras:hover {
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .favoritos {
  position: absolute;
  top: 4%;
  left: 80%;
  width: 12%;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .favoritos:hover {
  background-image: url("../multimedia/favoritos_2.svg");
  background-repeat: no-repeat;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .contenedor-texto {
  background-color: #fafafa;
  padding-top: 20px;
  border-radius: 0 0 8px 8px;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .contenedor-texto .titulo-aventuras {
  font-family: "raleway-bold";
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6e50f9;
  padding: 0 15px;
  margin-top: 20px;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .contenedor-texto .parrafo-aventuras {
  font-family: "raleway-light";
  font-size: 1.5rem;
  text-align: center;
  color: #515151;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .contenedor-texto .puntuacion {
  background-color: #b590ff;
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
}
.inicio-aventuras .contenedor-aventuras .card-aventuras .contenedor-texto .puntuacion .puntuacion-img {
  width: 7%;
  margin: 0 5px;
}
.inicio-aventuras .paginas {
  margin-top: 30px;
}
.inicio-aventuras .paginas nav ul li a {
  font-family: "raleway-regular";
  font-size: 2rem;
  text-align: center;
  color: #515151;
}

/* Media Querys Aventuras */
/* Mobile */
@media only screen and (max-width: 480px) {
  .inicio-aventuras {
    padding: 45px 20px;
  }
  .inicio-aventuras h1 {
    padding: 0 0 20px 0;
  }
  .inicio-aventuras .continentes {
    padding: 20px 0 70px 0;
  }
  .inicio-aventuras .continentes p {
    font-size: 2.5rem;
    padding: 7px;
  }
  .inicio-aventuras .continentes a {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
  }
  .inicio-aventuras .contenedor-aventuras .card-aventuras {
    margin-bottom: 80px;
  }
  .inicio-aventuras .paginas {
    margin-top: -15px;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .inicio-aventuras {
    padding: 40px;
  }
  .inicio-aventuras h1 {
    padding-top: 25px;
  }
  .inicio-aventuras .continentes p {
    font-size: 3rem;
    padding: 20px 0;
  }
  .inicio-aventuras .continentes a {
    font-size: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
}
/* Fin Media Querys Aventuras*/
/* Fin Aventuras*/
/* Galeria */
.galeria {
  background-color: #eeeeee;
  padding: 20px 0 280px 0;
}
.galeria h1 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #6e50f9;
  padding: 100px;
}
.galeria .img-0, .galeria .img-2, .galeria .img-3, .galeria .img-7, .galeria .img-8 {
  width: 94%;
}
.galeria .img-1, .galeria .img-4, .galeria .img-5, .galeria .img-6, .galeria .img-9, .galeria .img-10 {
  width: 100%;
}
.galeria .img-galeria {
  border-radius: 8px 0;
  filter: grayscale(90%);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.galeria .img-galeria:hover {
  filter: none;
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.galeria .imagenes-galeria {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  grid-template-areas: "c1-f1 c2-f1 c2-f1 c2-f1" "c1-f2 c2-f2 c3-f2 c4-f2" "c1-f3 c1-f3 c1-f3 c1-f3" "c1-f4 c2-f4 c3-f3 c4-f4";
}
.galeria .imagenes-galeria .c1-f1 {
  grid-area: c1-f1;
}
.galeria .imagenes-galeria .c2-f1 {
  grid-area: c2-f1;
}
.galeria .imagenes-galeria .c1-f2 {
  grid-area: c1-f2;
}
.galeria .imagenes-galeria .c2-f2 {
  grid-area: c2-f2;
}
.galeria .imagenes-galeria .c3-f2 {
  grid-area: c3-f2;
}
.galeria .imagenes-galeria .c4-f2 {
  grid-area: c4-f2;
}
.galeria .imagenes-galeria .c1-f3 {
  grid-area: c1-f3;
}
.galeria .imagenes-galeria .c1-f4 {
  grid-area: c1-f4;
}
.galeria .imagenes-galeria .c2-f4 {
  grid-area: c2-f4;
}
.galeria .imagenes-galeria .c3-f3 {
  grid-area: c3-f3;
}
.galeria .imagenes-galeria .c4-f4 {
  grid-area: c4-f4;
}
.galeria .imagenes-galeria .c1-f1, .galeria .imagenes-galeria .c2-f1, .galeria .imagenes-galeria .c2-f1, .galeria .imagenes-galeria .c2-f1,
.galeria .imagenes-galeria .c1-f2, .galeria .imagenes-galeria .c2-f2, .galeria .imagenes-galeria .c3-f2, .galeria .imagenes-galeria .c4-f2,
.galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3,
.galeria .imagenes-galeria .c1-f4, .galeria .imagenes-galeria .c2-f4, .galeria .imagenes-galeria .c3-f3, .galeria .imagenes-galeria .c4-f4 {
  margin-top: -35px;
}
.galeria .imagenes-galeria p {
  position: relative;
  max-width: 26rem;
  top: 25px;
  left: 10px;
  z-index: 1;
  color: #eeeeee;
  background-color: #b590ff;
  padding: 5px;
  font-family: "raleway-regular";
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.galeria .imagenes-galeria p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-bottom: none;
  border-top-color: #b590ff;
  filter: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.online {
  background-color: #76c0b4;
  width: 100%;
  padding: 70px 0 80px 0;
}
.online h2 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #fafafa;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.online .container-online .video-info {
  width: 58%;
  font-family: "raleway-light";
  font-size: 2rem;
  text-align: left;
  font-style: italic;
  color: #515151;
  padding-right: 70px;
}
.online .container-online .video-contenedor {
  width: 36%;
}
.online .container-online .video-contenedor .video {
  width: 100%;
  height: 265px;
  margin: 0;
}

/* Media Querys Galeria */
/* Mobile */
@media only screen and (max-width: 480px) {
  .galeria {
    padding: 45px 20px 130px 20px;
  }
  .galeria h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 0 0 20px 0;
  }
  .galeria .img-galeria {
    filter: none;
  }
  .galeria .imagenes-galeria {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 1%;
    grid-template-areas: "c2-f1 c2-f1" "c1-f2 c2-f2" "c3-f2 c4-f2" "c1-f3 c1-f3" "c1-f4 c2-f4" "c3-f3 c4-f4";
  }
  .galeria .imagenes-galeria .c1-f1 {
    display: none;
  }
  .galeria .imagenes-galeria .c2-f1 {
    grid-area: c2-f1;
  }
  .galeria .imagenes-galeria .c1-f2 {
    grid-area: c1-f2;
  }
  .galeria .imagenes-galeria .c2-f2 {
    grid-area: c2-f2;
  }
  .galeria .imagenes-galeria .c3-f2 {
    grid-area: c3-f2;
  }
  .galeria .imagenes-galeria .c4-f2 {
    grid-area: c4-f2;
  }
  .galeria .imagenes-galeria .c1-f3 {
    grid-area: c1-f3;
  }
  .galeria .imagenes-galeria .c1-f4 {
    grid-area: c1-f4;
  }
  .galeria .imagenes-galeria .c2-f4 {
    grid-area: c2-f4;
  }
  .galeria .imagenes-galeria .c3-f3 {
    grid-area: c3-f3;
  }
  .galeria .imagenes-galeria .c4-f4 {
    grid-area: c4-f4;
  }
  .galeria .imagenes-galeria .c2-f1, .galeria .imagenes-galeria .c2-f1, .galeria .imagenes-galeria .c2-f1,
.galeria .imagenes-galeria .c1-f2, .galeria .imagenes-galeria .c2-f2, .galeria .imagenes-galeria .c3-f2, .galeria .imagenes-galeria .c4-f2,
.galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3,
.galeria .imagenes-galeria .c1-f4, .galeria .imagenes-galeria .c2-f4, .galeria .imagenes-galeria .c3-f3, .galeria .imagenes-galeria .c4-f4 {
    margin-top: 0;
  }
  .galeria .imagenes-galeria p {
    max-width: 15rem;
    left: 1px;
    top: 14px;
  }

  .online {
    padding: 45px 20px 75px 20px;
  }
  .online h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 15px 0;
  }
  .online .container-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .online .container-online .video-info {
    width: 100%;
    padding: 20px 0;
    text-align: justify;
  }
  .online .container-online .video-contenedor {
    width: 100%;
  }
}
/* Tablet  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .galeria {
    padding: 40px 40px 160px 40px;
  }
  .galeria h1 {
    padding: 25px 0;
  }
  .galeria .imagenes-galeria .c1-f1, .galeria .imagenes-galeria .c2-f1, .galeria .imagenes-galeria .c2-f1, .galeria .imagenes-galeria .c2-f1,
.galeria .imagenes-galeria .c1-f2, .galeria .imagenes-galeria .c2-f2, .galeria .imagenes-galeria .c3-f2, .galeria .imagenes-galeria .c4-f2,
.galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3, .galeria .imagenes-galeria .c1-f3,
.galeria .imagenes-galeria .c1-f4, .galeria .imagenes-galeria .c2-f4, .galeria .imagenes-galeria .c3-f3, .galeria .imagenes-galeria .c4-f4 {
    margin-top: 0;
  }
  .galeria .imagenes-galeria p {
    max-width: 15rem;
    top: 15px;
    left: 4px;
  }

  .online {
    padding: 70px 30px 80px 30px;
  }
  .online h2 {
    padding: 0;
    margin-bottom: 20px;
  }
  .online .container-online {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .online .container-online .video-info {
    width: 100%;
    padding-right: 0;
    margin: 20px 10px 40px 10px;
  }
  .online .container-online .video-contenedor {
    width: 100%;
  }
  .online .container-online .video-contenedor .video {
    width: 100%;
    height: 300px;
  }
}
/* Fin Media Querys Galeria */
/* Fin Galeria */
/* Perfil */
.recorridos {
  background-color: #fafafa;
  text-align: center;
  padding: 120px 0 100px 0;
}
.recorridos .recorridos-inicio {
  padding-bottom: 70px;
}
.recorridos .recorridos-inicio h1 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #6e50f9;
}
.recorridos .recorridos-inicio img {
  width: 5%;
  height: 5%;
  border-radius: 40px;
}
.recorridos .boton-ciudades {
  padding: 20px 0 45px 0;
}
.recorridos .boton-ciudades h2 {
  font-family: "raleway-medium";
  font-size: 2.5rem;
  text-align: center;
  color: #515151;
  padding-bottom: 40px;
}
.recorridos .boton-ciudades a {
  font-family: "raleway-medium";
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: #39c2b6;
  background-color: #c7fff0;
  margin: 60px;
}
.recorridos .boton-ciudades a:hover {
  background-color: #76c0b4;
  color: #c7fff0;
}
.recorridos .boton-ciudades .crear-nuevo {
  color: #fafafa;
  background-color: #b590ff;
}
.recorridos .boton-ciudades .crear-nuevo:hover {
  background-color: #7d60f5;
  color: #fafafa;
}
.recorridos .lugares-contenedor {
  width: 100%;
  padding: 60px 0 95px 0;
}
.recorridos .lugares-contenedor .lugares-card {
  width: 30%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.recorridos .lugares-contenedor .lugares-card:hover {
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.recorridos .lugares-contenedor .lugares-card img {
  width: 70%;
  height: 70%;
  border-radius: 8px 8px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.recorridos .lugares-contenedor .lugares-card a {
  font-family: "raleway-bold-italic";
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  color: #fafafa;
  width: 70%;
  height: 20%;
  padding: 10px;
  border-radius: 0 0 8px 8px;
}
.recorridos .lugares-contenedor .lugares-card .lugar1 {
  background-color: #6e50f9;
}
.recorridos .lugares-contenedor .lugares-card .lugar2 {
  background-color: #b590ff;
}
.recorridos .lugares-contenedor .lugares-card .lugar3 {
  background-color: #7d60f5;
}
.recorridos .lugar-mapa {
  margin-top: -110px;
  margin-bottom: 70px;
}
.recorridos .lugar-mapa .lugar1-marcador {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #6e50f9;
  position: relative;
  top: 595px;
  left: 687px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.recorridos .lugar-mapa .lugar2-marcador {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #b590ff;
  position: relative;
  top: 382px;
  left: 620px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.recorridos .lugar-mapa .lugar3-marcador {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: #7d60f5;
  position: relative;
  top: 43px;
  left: 584px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.recorridos .lugar-mapa .mapa-contenedor {
  width: 100%;
}
.recorridos .lugar-mapa .mapa-contenedor .mapa {
  width: 80%;
  height: 575px;
  margin: 0;
}

.opiniones {
  background-color: #c7fff0;
  text-align: center;
  padding: 100px 0;
}
.opiniones h3 {
  font-family: "raleway-extrabold";
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #39c2b6;
  padding-bottom: 30px;
}
.opiniones .opiniones-contenedor {
  width: 100%;
}
.opiniones .opiniones-contenedor .opiniones-card {
  border: #39c2b6 2px solid;
  margin: 20px;
  padding: 30px;
}
.opiniones .opiniones-contenedor .opiniones-card .opiniones-titulo {
  font-family: "raleway-bold";
  font-size: 1.5rem;
  text-align: center;
  line-height: 25px;
}
.opiniones .opiniones-contenedor .opiniones-card .opiniones-texto {
  font-family: "raleway-medium";
  font-size: 1.5rem;
  text-align: center;
  line-height: 25px;
  color: #515151;
}

/* Media Querys Perfil */
/* Mobile */
@media only screen and (max-width: 480px) {
  .recorridos {
    padding: 45px 20px;
  }
  .recorridos .recorridos-inicio {
    padding-bottom: 40px;
  }
  .recorridos .recorridos-inicio h1 {
    letter-spacing: 5px;
  }
  .recorridos .recorridos-inicio img {
    margin-top: 7px;
    width: 20%;
  }
  .recorridos .boton-ciudades {
    display: flex;
    flex-direction: column;
    padding: 20px 58px;
  }
  .recorridos .boton-ciudades h2 {
    padding-bottom: 20px;
  }
  .recorridos .boton-ciudades a {
    margin: 10px 0;
  }
  .recorridos .lugares-contenedor {
    display: flex;
  }
  .recorridos .lugares-contenedor .lugares-card {
    width: 100%;
    margin: 20px 30px;
  }
  .recorridos .lugares-contenedor .lugares-card .lugar1 {
    width: 100%;
  }
  .recorridos .lugares-contenedor .lugares-card .lugar2 {
    width: 100%;
  }
  .recorridos .lugares-contenedor .lugares-card .lugar3 {
    width: 100%;
  }
  .recorridos .lugares-contenedor .lugares-card img {
    width: 100%;
  }
  .recorridos .lugar-mapa {
    margin-top: -130px;
    margin-bottom: 15px;
  }
  .recorridos .lugar-mapa .lugar1-marcador {
    position: relative;
    top: 594px;
    left: 191px;
  }
  .recorridos .lugar-mapa .lugar2-marcador {
    position: relative;
    top: 382px;
    left: 124px;
  }
  .recorridos .lugar-mapa .lugar3-marcador {
    position: relative;
    top: 127px;
    left: 99px;
  }
  .recorridos .lugar-mapa .mapa-contenedor {
    width: 100%;
  }
  .recorridos .lugar-mapa .mapa-contenedor .mapa {
    width: 80%;
  }

  .opiniones {
    padding: 45px 20px;
  }
  .opiniones h3 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    letter-spacing: 4px;
  }
  .opiniones .opiniones-contenedor {
    display: flex;
    flex-direction: column;
  }
  .opiniones .opiniones-contenedor .opiniones-card {
    padding: 15px;
    margin: 15px 0;
  }
  .opiniones .opiniones-contenedor .opiniones-card .opiniones-titulo, .opiniones .opiniones-contenedor .opiniones-card .opiniones-texto {
    font-size: 1.5rem;
    line-height: 20px;
  }
}
/* Tablet  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .recorridos {
    padding: 40px;
  }
  .recorridos .recorridos-inicio {
    padding-bottom: 20px;
  }
  .recorridos .recorridos-inicio h1 {
    margin: 25px 0;
    letter-spacing: 15px;
  }
  .recorridos .recorridos-inicio img {
    width: 10%;
  }
  .recorridos .boton-ciudades a {
    margin: 15px;
  }
  .recorridos .lugares-contenedor {
    padding: 15px 0 80px 0;
  }
  .recorridos .lugares-contenedor .lugares-card {
    width: 40%;
    margin: 0 -25px;
  }
  .recorridos .lugar-mapa {
    margin-bottom: 40px;
  }
  .recorridos .lugar-mapa .lugar1-marcador {
    position: relative;
    top: 592px;
    left: 369px;
  }
  .recorridos .lugar-mapa .lugar2-marcador {
    position: relative;
    top: 388px;
    left: 308px;
  }
  .recorridos .lugar-mapa .lugar3-marcador {
    position: relative;
    top: 122px;
    left: 283px;
  }
  .recorridos .lugar-mapa .mapa-contenedor {
    width: 100%;
  }
  .recorridos .lugar-mapa .mapa-contenedor .mapa {
    width: 95%;
  }

  .opiniones {
    padding: 40px;
  }
  .opiniones h3 {
    padding: 20px 0;
  }
  .opiniones .opiniones-contenedor {
    display: flex;
    flex-direction: column;
  }
  .opiniones .opiniones-contenedor .opiniones-card {
    padding: 15px;
  }
}
/* Fin Media Querys Perfil */
/* Fin Perfil */
/* Error */
.error {
  background-color: #eeeeee;
  background-image: url("../multimedia/error_fondo.svg");
  background-repeat: no-repeat;
  width: 100%;
  color: #7d60f5;
  text-align: center;
  padding: 300px 0 180px 0;
}
.error h1 {
  font-family: "raleway-extrabold";
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #7d60f5;
  margin-top: -100px;
  margin-left: 25px;
}
.error h2 {
  font-family: "raleway-extrabold";
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #39c2b6;
  padding: 100px 380px 40px 380px;
}
.error h3 {
  font-family: "raleway-bold";
  font-size: 2rem;
  text-align: center;
  margin: 35px;
  letter-spacing: 4px;
  color: #6e50f9;
}
.error .boton {
  font-family: "raleway-bold";
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #b590ff;
  text-decoration: none;
  color: #fafafa;
}

/* Media Querys Error */
/* Mobile*/
@media only screen and (max-width: 480px) {
  .error {
    background-color: #eeeeee;
    background-image: url("../multimedia/error_fondo2.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    color: #7d60f5;
    align-items: center;
    padding: 300px 0 60px 0;
  }
  .error h1 {
    font-size: 3rem;
    letter-spacing: 0px;
    margin-top: -175px;
    margin-left: 15px;
  }
  .error h2 {
    font-size: 1.8rem;
    padding: 60px 49px;
    line-height: 25px;
  }
  .error h3 {
    font-family: "raleway-bold";
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 30px 45px 30px;
  }
}
/* Tablet  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .error {
    padding: 300px 0 60px 0;
  }
  .error h1 {
    font-family: "raleway-extrabold";
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -200px;
    margin-left: 17px;
  }
  .error h2 {
    font-family: "raleway-extrabold";
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #39c2b6;
    padding: 75px;
  }
  .error h3 {
    font-family: "raleway-bold";
    font-size: 2rem;
    text-align: center;
    margin: 15px 20px 35px 20px;
  }
}
/* Fin Media Querys Error*/
/* Fin Error */
/* Quienes Somos */
.quienes {
  background-color: #eeeeee;
  padding: 100px 0;
  width: 100%;
}
.quienes h1 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  margin: 20px 0 80px 0;
  color: #6e50f9;
}
.quienes .info-quienes-somos .texto-quienes-somos {
  font-size: 2rem;
  font-family: "raleway-light";
  padding-right: 70px;
  color: #515151;
}
.quienes .info-quienes-somos .mifoto {
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  transition: 0.5s linear;
}
.quienes .info-quienes-somos .mifoto:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}
.quienes h2 {
  font-family: "raleway-medium";
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  margin: 120px 0 20px 0;
  color: #b590ff;
}
.quienes .quienes-icon {
  margin-bottom: 15px;
}
.quienes .quienes-icon img {
  width: 15%;
  height: 15%;
  margin: 30px 11px;
  padding: 0 15px;
}

/* Media Querys Quienes Somos */
/* Mobile */
@media only screen and (max-width: 480px) {
  .quienes {
    padding: 45px 20px;
    text-align: justify;
  }
  .quienes h1 {
    margin: 0 0 20px 0;
  }
  .quienes .info-quienes-somos {
    display: flex;
    flex-direction: column;
  }
  .quienes .info-quienes-somos .texto-quienes-somos {
    font-size: 2rem;
    margin: 20px 0;
    padding: 0;
  }
  .quienes .info-quienes-somos .mifoto {
    width: 100%;
  }
  .quienes h2 {
    margin: 70px 0 0 0;
  }
  .quienes .quienes-icon {
    display: flex;
  }
  .quienes .quienes-icon img {
    width: 65%;
    margin: 10px 0;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .quienes {
    padding: 40px;
    text-align: justify;
  }
  .quienes h1 {
    margin: 25px 0;
  }
  .quienes .info-quienes-somos {
    display: flex;
    flex-direction: column;
  }
  .quienes .info-quienes-somos .texto-quienes-somos {
    margin: 20px 10px 40px 10px;
    padding: 0;
  }
  .quienes h2 {
    font-size: 3.5rem;
  }
  .quienes .quienes-icon {
    padding-bottom: 0;
  }
  .quienes .quienes-icon img {
    width: 35%;
    margin: 20px 0px;
  }
}
/* Fin Media Querys Quienes Somos */
/* Fin Quienes Somos */
/* Favoritos */
.seccion-favoritos {
  background-color: #fafafa;
  text-align: center;
  padding: 120px 0 140px 0;
}
.seccion-favoritos h1 {
  font-family: "raleway-bold";
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #39c2b6;
}
.seccion-favoritos .contenedor-mayor-favoritos h2 {
  font-family: "raleway-medium";
  font-size: 2.5rem;
  text-align: center;
  color: #515151;
  padding-top: 80px;
}
.seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav {
  width: 25%;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: transparent;
  border-radius: 8px;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav:hover {
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav .img-fav {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
}
.seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav .contenedor-texto-fav {
  background-color: #b590ff;
  border-radius: 0 0 8px 8px;
}
.seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav .contenedor-texto-fav .titulo-fav {
  font-family: "raleway-bold";
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fafafa;
}

/* Media Querys Favoritos */
/* Mobile */
@media only screen and (max-width: 480px) {
  .seccion-favoritos {
    padding: 45px 20px;
  }
  .seccion-favoritos h1 {
    letter-spacing: 8px;
    padding: 0 0 20px 0;
  }
  .seccion-favoritos .contenedor-mayor-favoritos h2 {
    padding-top: 45px;
  }
  .seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav {
    width: 100%;
  }
}
/* Tablet  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .seccion-favoritos {
    padding: 40px 40px 90px 40px;
  }
  .seccion-favoritos h1 {
    letter-spacing: 5px;
    margin: 25px 0 5px 0;
  }
  .seccion-favoritos .contenedor-mayor-favoritos h2 {
    padding: 50px 0 10px 0;
  }
  .seccion-favoritos .contenedor-mayor-favoritos .contenedor-fav .card-fav {
    width: 29%;
    margin: 14px;
  }
}
/* Fin Media Querys Favoritos*/
/* Fin Favoritos */

/*# sourceMappingURL=style.css.map */
