/* Aventuras */
.inicio-aventuras {
    background-color: nth($color, 8);
    width: $ancho;
    padding: 40px 20px 120px 20px;

        h1 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing;
        color: nth($color, 1);
        padding-top: 80px;
        }

    .continentes {
    padding: 50px 0 70px 0;
    text-align: $aling;

        p {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 4), $aling);
        color: nth($color, 7);
        padding: 20px;
        }

        a {
        @extend %texto;
        color: nth($color, 7);
        text-transform: $text-uppercase;
        padding: 10px 20px 20px 20px;
        margin: 10px;

            &:hover {
            color: nth($color, 2);
            text-decoration: underline;
            }
        }
    }

    .contenedor-aventuras {
        @extend %flex-3;

        .card-aventuras {
        margin-bottom: 50px;
        box-shadow: $text-shadow;
        background-color: transparent;
        border-radius: 8px;
        width: 28rem;
        overflow: hidden;

        .img-aventuras {
        border-radius: 8px 8px 0 0;
        height: 15%;
        @include prefijos2(all 1s ease-in-out);

            &:hover {
            @include prefijos(scale(1.05));
            }
        }

        .favoritos {
            position: absolute;
            top: 4%;
            left: 80%;
            width: 12%;

            &:hover {
            background-image: url("../multimedia/favoritos_2.svg");
            background-repeat: no-repeat;
            }
        }

        .contenedor-texto {
        background-color: nth($color, 9);
        padding-top: 20px;
        border-radius: 0 0 8px 8px;

            .titulo-aventuras {
            @include titulos(nth($font-family, 4), nth($font-size, 3), $aling, $text-uppercase);
            letter-spacing: $letter-spacing - 8px;
            color: nth($color, 4);
            padding: 0 15px;
            margin-top: 20px;
            }

            .parrafo-aventuras {
            @include sub-titulos(nth($font-family, 1), nth($font-size, 1), $aling);
            color: nth($color, 7);
            }

            .puntuacion {
            background-color: nth($color, 6);
            padding: 10px;
            margin-bottom: 0;
            text-align: $aling;

                .puntuacion-img {
                width: 7%;
                margin: 0 5px;
                }
            }
        }
        }
    }

    .paginas {
        margin-top: 30px;

        nav {
            ul {
                li {
                    a {
                    @include sub-titulos(nth($font-family, 2), nth($font-size, 2), $aling);
                    color: nth($color, 7) ;
                    }
                }
            }
        }
    }
}


/* Media Querys Aventuras */

/* Mobile */
@media only screen and (max-width:480px) {

    .inicio-aventuras {
    padding: 45px 20px;
        h1 {
        padding: 0 0 20px 0;
        }

        .continentes {
        padding: 20px 0 70px 0;
            p {
            font-size: nth($font-size, 4);
            padding: 7px;
            }

            a {
            font-size:  nth($font-size, 2);
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 5px 0;
            }
        }

        .contenedor-aventuras {
            .card-aventuras {
            margin-bottom: 80px;

                .contenedor-texto {
                    .parrafo-aventuras {
                    font-size: nth($font-size, 9);
                    }
                }
            }
        }

        .paginas {
        margin-top: -15px;
        }
    }
}

/* Tablet */
@media only screen and (min-width:481px) and (max-width:768px) {
    .inicio-aventuras {
        padding: 40px;

        h1 {
        padding-top: 25px;
        }

        .continentes {
            p {
            font-size:  nth($font-size, 5);
            padding: 20px 0;
            }

            a {
            font-size:  nth($font-size, 3);
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px;
            }
        }
    }
}
/* Fin Media Querys Aventuras*/
/* Fin Aventuras*/