/* HTML ERROR */
.error {
    background-color: nth($color, 4);
    background-image: url("../multimedia/error_fondo.svg");
    background-repeat: no-repeat;
    width: $ancho;
    color: nth($color, 7);
    text-align: $aling;
    padding: 300px 0 180px 0;

    h1 {
        @include titulos(nth($font-family, 6), nth($font-size, 7), $aling, $text-uppercase);
        letter-spacing: $letter-spacing;
        color: nth($color, 7);
        margin-top: -100px;
        margin-left: 25px;
    }

    h4 {
        @include titulos(nth($font-family, 6), nth($font-size, 4), $aling, $text-uppercase);
        color: nth($color, 1);
        padding: 100px 380px 40px 380px;
    }

    p {
        @include sub-titulos(nth($font-family, 4), nth($font-size, 2), $aling);
        margin: 35px;
        letter-spacing: $letter-spacing - 6px;
        color: nth($color, 5);
    }

    a {
        @include titulos(nth($font-family, 4), nth($font-size, 1), $aling, $text-uppercase);
        background-color: nth($color, 3); 
        text-decoration: $text-none;
        color: nth($color, 7); 
        @extend %boton;
    }
}

/* FIN HTML ERROR */