
/* Favoritos */
.seccion-favoritos {
    background-color: nth($color, 9);
    text-align: $aling;
    padding: 120px 0 140px 0;

    h1 {
    @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
    letter-spacing: $letter-spacing;
    color: nth($color, 1);
    }

    .contenedor-mayor-favoritos {

        h2 {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 4), $aling);
        color: nth($color, 7);
        padding-top: 80px;
        }

        .contenedor-fav {
        @extend %flex-3;
                    
            .card-fav {
            width: $ancho - 75%;
            margin: 30px;
            box-shadow: $text-shadow;
            background-color: transparent;
            border-radius: 8px;
            
            .img-fav {
            border-radius: 8px 8px 0 0;
            }
    
            .contenedor-texto-fav {
            background-color: nth($color, 6);
            border-radius: 0 0 8px 8px;
    
                .titulo-fav {
                @include titulos(nth($font-family, 4), nth($font-size, 1), $aling, $text-uppercase);
                letter-spacing: $letter-spacing - 8px;
                color: nth($color, 9);  
                }
            }
            }
        }
    }
}

/* Media Querys Favoritos */

/* Mobile */
@media only screen and (max-width:480px) {

    .seccion-favoritos {
    padding: 70px 30px;
    
        h1 {
        letter-spacing: $letter-spacing - 8px;
        }

        .contenedor-mayor-favoritos {
            h2 {
            padding-top: 45px;
            }
    
            .contenedor-fav {
            @extend %flex-3;
                        
                .card-fav {
                width: $ancho;
                }
            } 
        }
    }
}   

/* Tablet  */
@media only screen and (min-width:481px) and (max-width:768px) {
    .seccion-favoritos {
        padding: 70px 30px 90px 30px;
        
        h1 {
        letter-spacing: $letter-spacing - 6px;
        }

        .contenedor-mayor-favoritos {
            h2 {
            padding-top: 50px;
            }
        
            .contenedor-fav {       
                .card-fav {
                width: $ancho - 71%;
                margin: 14px;          
                }
            }
        }
    }
}
/* Fin Media Querys Favoritos*/
    
/* Fin Favoritos */