/* Galeria */
.galeria {
background-color: nth($color, 8);
padding: 20px 0 130px 0;

    h1 {
    @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
    letter-spacing: $letter-spacing;
    color: nth($color, 4);
    padding: 100px;
    }

    .img-0, .img-2, .img-3,  .img-7, .img-8 {
    width: $ancho - 6%;
    }

    .img-1, .img-4, .img-5, .img-6, .img-9, .img-10 {
    width: $ancho;
    }

    .img-galeria {
    border-radius: 8px 0;
    filter: grayscale(90%);
    @include prefijos2(all 1s ease-in-out);

        &:hover {
        filter: none;
        @include prefijos(scale(1.05));
        }
    }

    .imagenes-galeria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    grid-template-areas:
    "c1-f1 c2-f1 c2-f1 c2-f1"
    "c1-f2 c2-f2 c3-f2 c4-f2"
    "c1-f3 c1-f3 c1-f3 c1-f3"
    "c1-f4 c2-f4 c3-f3 c4-f4";

        .c1-f1 {
        grid-area: c1-f1;
        }

        .c2-f1 {
        grid-area: c2-f1;
        }

        .c1-f2 {
        grid-area: c1-f2;
        }

        .c2-f2 {
        grid-area: c2-f2;
        }

        .c3-f2 {
        grid-area: c3-f2;
        }

        .c4-f2 {
        grid-area: c4-f2;
        }

        .c1-f3 {
        grid-area: c1-f3;
        }

        .c1-f4 {
        grid-area: c1-f4;
        }

        .c2-f4 {
        grid-area: c2-f4;
        }

        .c3-f3 {
        grid-area: c3-f3;
        }

        .c4-f4 {
        grid-area: c4-f4;
        }

        .c1-f1, .c2-f1, .c2-f1, .c2-f1,
        .c1-f2, .c2-f2, .c3-f2, .c4-f2,
        .c1-f3, .c1-f3, .c1-f3, .c1-f3,
        .c1-f4, .c2-f4, .c3-f3, .c4-f4 {
        margin-top: -35px;
        }

        p {
        position: relative;
        max-width: 26rem;
        top: 25px;
        left: 10px;
        z-index: 1;
        color: nth($color, 8);
        background-color: nth($color, 6);
        padding: 5px;
        @include sub-titulos(nth($font-family, 2), nth($font-size, 1), $aling);
        border-radius: $border-radius;
        box-shadow:	$text-shadow;
        }

        p::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        left: 1.5em;
        border: .75rem solid transparent;
        border-bottom: none;
        border-top-color: nth($color, 6);
        filter: $text-shadow;
        }
    }
    .subir-img {
    @include sub-titulos(nth($font-family, 3), nth($font-size, 2), $aling);
    width: $ancho - 85%;
    background-color: nth($color, 5);
    @extend %boton;
    margin-top: 225px;

        &:hover {
        background-color: nth($color, 4);
        }

        .subir-img-a {
        text-decoration: $text-none;
        color: nth($color, 9);
        }
    }
}

.online {
background-color: nth($color, 2);
width: $ancho;
padding: 70px 0 80px 0;

    h2 {
    @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
    color: nth($color, 9);
    letter-spacing: $letter-spacing;
    text-align: $aling;
    margin-bottom: 50px;
    }

    .container-online {
        @extend %flex-2;

        .video-info {
        width: $ancho - 42%;
        @include sub-titulos(nth($font-family, 1), nth($font-size, 2), left);
        font-style: italic;
        color: nth($color, 7);
        padding-right: 70px;
        }

        .video-contenedor {
        width: 36%;

            .video {
            width: $ancho;
            height: 265px;
            margin: 0;
            }
        }
    }
}

/* Media Querys Galeria */
/* Mobile */
@media only screen and (max-width:480px) {

    .galeria {
    padding: 45px 20px 75px 20px;

        h1 {
        font-size: nth($font-size, 5);
        letter-spacing: $letter-spacing - 5px;
        padding: 0 0 20px 0;
        }

        .img-galeria {
        filter: none;
        }

        .imagenes-galeria {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 1%;
        grid-template-areas:
        "c2-f1 c2-f1"
        "c1-f2 c2-f2"
        "c3-f2 c4-f2"
        "c1-f3 c1-f3"
        "c1-f4 c2-f4"
        "c3-f3 c4-f4";

            .c1-f1 {
            display:none;
            }

            .c2-f1 {
            grid-area: c2-f1;
            }

            .c1-f2 {
            grid-area: c1-f2;
            }

            .c2-f2 {
            grid-area: c2-f2;
            }

            .c3-f2 {
            grid-area: c3-f2;
            }

            .c4-f2 {
            grid-area: c4-f2;
            }

            .c1-f3 {
            grid-area: c1-f3;
            }

            .c1-f4 {
            grid-area: c1-f4;
            }

            .c2-f4 {
            grid-area: c2-f4;
            }

            .c3-f3 {
            grid-area: c3-f3;
            }

            .c4-f4 {
            grid-area: c4-f4;
            }

        .c2-f1, .c2-f1, .c2-f1,
        .c1-f2, .c2-f2, .c3-f2, .c4-f2,
        .c1-f3, .c1-f3, .c1-f3, .c1-f3,
        .c1-f4, .c2-f4, .c3-f3, .c4-f4 {
        margin-top: 0;
        }

        p {
        max-width: 15rem;
        left: 1px;
        top: 14px;
        }
        }
        .subir-img {
        font-size:  nth($font-size, 1);
        width: $ancho - 40%;
        margin-top: 110px;
        }
    }

    .online {
    padding: 45px 20px 75px 20px;

        h2 {
        font-size: nth($font-size, 5);
        letter-spacing: $letter-spacing - 7px;
        margin: 15px 0;
        }

        .container-online {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

            .video-info {
            width: $ancho;
            padding: 20px 0;
            text-align: justify;
            font-size: nth($font-size, 9);
            }

            .video-contenedor{
            width: $ancho;
            }
        }
    }
}
/* Tablet  */
@media only screen and (min-width:481px) and (max-width:768px) {
    .galeria {
    padding: 40px 40px 90px 40px;

        h1 {
        padding: 25px 0;
        }

        .imagenes-galeria {
            .c1-f1, .c2-f1, .c2-f1, .c2-f1,
            .c1-f2, .c2-f2, .c3-f2, .c4-f2,
            .c1-f3, .c1-f3, .c1-f3, .c1-f3,
            .c1-f4, .c2-f4, .c3-f3, .c4-f4 {
            margin-top: 0;
            }

            p {
            max-width: 15rem;
            top: 15px;
            left: 4px;
            }
        }
        .subir-img {
        width: $ancho - 70%;
        margin-top: 150px;
        }
    }

    .online {
    padding: 70px 30px 80px 30px;
        h2 {
        padding: 0;
        margin-bottom: 20px;
        }

        .container-online{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

            .video-info {
            width: $ancho;
            padding-right: 0;
            margin: 20px 10px 40px 10px;
            }

            .video-contenedor {
            width: $ancho;
                .video {
                width: $ancho;
                height: 300px;
                }
            }
        }
    }
}
/* Fin Media Querys Galeria */
/* Fin Galeria */