
/* Index */
.container-background {
    background: linear-gradient(45deg, rgba(181,144,255,.5), 
    rgba(199,255,240,.5), rgba(181,144,255,.5),
    rgba(199,255,240,.5)) 0 0 / 1000% no-repeat, 
   url("../multimedia/imagen-inicio.jpg") 0 0 / cover no-repeat;
   -webkit-animation: gradientAnimation 40s ease infinite;
   animation: gradientAnimation 40s ease infinite;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;

    @-webkit-keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    25%  { background-position: 100% 70%, 0 0;}
    50% { background-position: 0% 30%, 0 0;}
    }

    @keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    25%  { background-position: 100% 70%, 0 0;}
    50% { background-position: 0% 30%, 0 0;}
    }
    
    /* Sección Imagen Inicio */
    .imagen-inicio {
        h1 {
            @include titulos(nth($font-family, 6), nth($font-size, 8), $aling, $text-uppercase);
            letter-spacing: $letter-spacing;
            text-shadow: $text-shadow;
            color: nth($color, 9);
            margin-top: 15%;
            @include prefijos2(all 2s ease-in-out);
    
            &:hover {
            @include prefijos(scale(1.25))
            }
        }
    
        p {
        @include sub-titulos(nth($font-family, 4), nth($font-size, 4), $aling);
        margin: 2px;
        letter-spacing: $letter-spacing - 6px;
        color: nth($color, 9);
        text-shadow: $text-shadow;
        }           
    }
    /* Fin Sección Imagen Inicio */
}

/* Sección Preferencias */
.preferencias {
    background-color: nth($color, 8);
    background-image: url("../multimedia/preferencias_fondo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: $ancho;
    text-align: $aling;
    padding: 90px 0px;

    h2 {
    @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
    letter-spacing: $letter-spacing *2;
    padding-bottom: 60px;
    color: nth($color, 7);
    }

    .preferencias-contenedor {
    @extend %flex;
                   
        .preferencias-card {
        width: 165px;
        margin: 55px 90px;
        @extend %flex;
        }
            
        .preferencias-card:hover {
        width: 165px;
        background: nth($color,8);
        border: nth($color, 2) 2px solid;
        border-radius: $border-radius;
        }
    
        .preferencias-img1, .preferencias-img2, .preferencias-img3, .preferencias-img4,.preferencias-img5, .preferencias-img6 {
        width: $ancho - 25%;     
        }

        .preferencia-a {
        @extend %texto;
        letter-spacing: $letter-spacing - 8px;
        color: nth($color, 2);
        position: absolute;
        margin-top: 180px;        
        }
    }
}
/* Fin Sección Preferencias */

/* Sección Top 10 */
.top-10 {
    background-color: nth($color, 5);
    padding-bottom: 70px;
    padding: 80px 0 110px 0;

    h2 {
    @include titulos(nth($font-family, 6), nth($font-size, 6), $aling, $text-uppercase);
    letter-spacing: $letter-spacing *2;
    color: nth($color, 6);
    }

    p {
    @include sub-titulos(nth($font-family, 3), nth($font-size, 2), $aling);
    letter-spacing: $letter-spacing - 8px;
    color: nth($color, 9);
    padding-bottom: 30px;
    }

    .destinos-contenedor {
    @extend %flex-2;
    padding-right: 30px;
    padding-left: 30px;

        .destinos-card {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        @include prefijos2(all 1s ease-in-out);
        padding: 15px;
        
        &:hover {
        @include prefijos(scale(1.1))
        }
        
        img {
        border-radius: $border-radius;
        width: $ancho;
        }

        .top-a {
        @extend %texto;
        color: nth($color, 9);
        text-shadow: $text-shadow;
        margin-top: -54px;
        margin-bottom: 30px;
        }
        }
    }

    .flecha {
    margin: -40px;

        .flecha-icon {
            width: 4rem;
            height: 4rem;
        }
    }
}
/* Fin Sección Top 10 */

/* Sección Mapa inicio */
.mapa-1 {
background-color: nth($color, 8);
padding: 80px 0 110px 0;

    h2 {
    @include titulos(nth($font-family, 4), nth($font-size, 5), $aling, $text-uppercase);
    letter-spacing: $letter-spacing;
    color: nth($color, 7);
    padding: 20px 0;
    }

    p {
    @include sub-titulos(nth($font-family, 5), nth($font-size, 2), $aling);
    color: nth($color, 1);
    padding-bottom: 20px;
    }

    .gps {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .gps1, .gps2, .gps3, .gps4, .gps5, .gps6, .gps7, .gps8 {
    width: 2%;
    opacity:0;
    @include prefijos2(all 1.5s ease-in-out)
    }
    }

    &:hover .gps1 {
    @include prefijos(translateY(180px));
    opacity:5;
    }

    &:hover .gps2 {
    @include prefijos(translateY(360px));
    opacity:5;
    }

    &:hover .gps3 {
    @include prefijos(translateY(643px));
    opacity:5;
        }

    &:hover .gps4 {
    @include prefijos(translateY(450px));
    opacity:5;
    }

    &:hover .gps5 {
    @include prefijos(translateY(550px));
    opacity:5;
    }

    &:hover .gps6 {
    @include prefijos(translateY(300px));
    opacity:5;
    }

    &:hover .gps7 {
    @include prefijos(translateY(654px));
    opacity:5;
    }

    &:hover .gps8 {
    @include prefijos(translateY(195px));
    opacity:5;
    }

    .mapa-1-img {
        width: $ancho;
    }
}
/* Fin Sección Mapa inicio */

/* Media Querys Index*/ 

/* Mobile */
@media only screen and (max-width:480px) {

    /* Sección Imagen Inicio */
    .container-background {
        overflow: hidden;
    
        .imagen-inicio {
        width: $ancho;
        
            h1 {
            @include titulos(nth($font-family, 6), nth($font-size, 7), $aling, $text-uppercase);
            padding: 35px 30px;
            margin-top: 1%;
            text-align: $aling;
            letter-spacing: $letter-spacing - 4px;
            }
        
            p {
            @include sub-titulos(nth($font-family, 4), nth($font-size, 3), $aling);
            padding: 20px 50px;
            letter-spacing: $letter-spacing - 8px;
            }    
        }
    }
    /* Fin Sección Imagen Inicio */

    /* Sección Preferencias */
    .preferencias {
        h2 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing - 2px;
        padding: 20px 30px;
        color: nth($color, 7);
        }

        .preferencias-contenedor {
        @extend %flex;
           
            .preferencias-card {
            @extend %flex;
            margin: 70px 0;
            width: $ancho - 40%;
            }
            
            .preferencias-img {
            border-radius: $border-radius;
            width: $ancho;
            @include prefijos2(2.5s all)
            }

            .preferencia-a {
            margin-top: 250px;
            font-size: nth($font-size, 5);
            }
        }
    }
    /* Fin Sección Preferencias */

    /* Sección Top 10 */
    .top-10 {
        p {
        font-size: nth($font-size, 3);
        letter-spacing: $letter-spacing - 8px;
        padding: 30px;
        }

        .destinos-contenedor{
        display: flex;
        padding: 0 40px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

            .destinos-card {
                .top-a {
                font-size: nth($font-size, 5);
                margin-top: -75px;
                } 
            }
        }   

        .flecha {
            margin: 30px;
        }
        
    }
    /* Fin Sección Top 10 */

    /* Sección Mapa inicio */
    .mapa-1 {
    padding: 10px 0 40px 0;

        h2 {
        padding: 40px 30px 5px 30px;
        }
       
        p {
        font-size: nth($font-size, 3);
        padding: 10px 40px;
        }
        
        &:hover .gps1 {
        @include prefijos(translateY(55px));
        opacity:5;
        }
    
        &:hover .gps2 {
        @include prefijos(translateY(110px));
        opacity:5;
        }
    
        &:hover .gps3 {
        @include prefijos(translateY(202px));
        opacity:5;
        }
    
        &:hover .gps4 {
        @include prefijos(translateY(143px));
        opacity:5;
        }
    
        &:hover .gps5 {
        @include prefijos(translateY(173px));
        opacity:5;
        }
    
        &:hover .gps6 {
        @include prefijos(translateY(95px));
        opacity:5;
        }
    
        &:hover .gps7 {
        @include prefijos(translateY(206px));
        opacity:5;
        }
    
        &:hover .gps8 {
        @include prefijos(translateY(63px));
        opacity:5;
        }
    }
    /* Fin Sección Mapa inicio */
}
/* Fin Mobile */

/* Tablet  */
@media only screen and (min-width:481px) and (max-width:768px) {

    /* Sección Imagen Inicio */
    .container-background {

        .imagen-inicio {
            h1 {
            padding: 35px 30px;
            margin-top: 25%;
            }
        
            p {
            padding: 25px 30px;
            }    
        }
    } 
    /* Fin Sección Imagen Inicio */

    /* Sección Preferencias */
    .preferencias {
    margin-bottom: 0;

        h2 {
        padding: 20px 0 40px 0;
        text-align: $aling;
        }

        .preferencias-contenedor { 

            .preferencias-card {
            margin: 15px 0 40px 0;
            width: $ancho - 70%;
            }
                
            .preferencia-a {
            font-size: nth($font-size, 4);
            position: relative;
            margin-top: 5px;
            } 
        }
    }
    /* Fin Sección Preferencias */

    /* Sección Top 10 */
    .top-10 {
    padding-bottom: 50px;
    padding-top: 60px;

        p{
        padding-bottom: 20px;
        letter-spacing: $letter-spacing - 5px;
        }
    
        .destinos-contenedor {
            padding: 0 10px;
            .destinos-card {
            padding: 15px 10px;

                .top-a {
                font-size: nth($font-size, 1);
                margin-top: -40px;
                }
            }
        }

        .flecha {
            margin: 0 -18px;
        }
    }
    /* Fin Sección Top 10 */

    /* Sección Mapa inicio */
    .mapa-1 {
        padding: 20px 0;

        h2{
        padding: 30px 65px;
        font-size: nth($font-size, 5);
        }

        p { 
        padding: 0 0 0 0;
        font-size: nth($font-size, 3);
        }

        .mapa-1-img {
        padding: 0px;
        margin: 0 0 20px 0;
        }

        &:hover .gps1 {
        @include prefijos(translateY(95px));
        opacity:5;
        }
        
        &:hover .gps2 {
        @include prefijos(translateY(180px));
        opacity:5;
        }
        
        &:hover .gps3 {
        @include prefijos(translateY(325px));
        opacity:5;
        }
        
        &:hover .gps4 {
        @include prefijos(translateY(228px));
        opacity:5;
        }
        
        &:hover .gps5 {
        @include prefijos(translateY(275px));
        opacity:5;
        }
        
        &:hover .gps6 {
        @include prefijos(translateY(150px));
        opacity:5;
        }
        
        &:hover .gps7 {
        @include prefijos(translateY(327px));
        opacity:5;
        }
        
        &:hover .gps8 {
        @include prefijos(translateY(100px));
        opacity:5;
        }
    }
    /* Fin Sección Mapa inicio */
}
/* Fin Tablet */

/* Fin Media Querys Index */

/* Fin Index */