
/* INDEX */
.container-background {
    background: linear-gradient(45deg, rgba(181,144,255,.5), 
    rgba(199,255,240,.5), rgba(181,144,255,.5),
    rgba(199,255,240,.5)) 0 0 / 1000% no-repeat, 
   url("../multimedia/imagen-inicio.jpg") 0 0 / cover no-repeat;
   -webkit-animation: gradientAnimation 40s ease infinite;
   animation: gradientAnimation 40s ease infinite;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;

    @-webkit-keyframes gradientAnimation {
        0%   { background-position: 0% 30%, 0 0;}
        25%  { background-position: 100% 70%, 0 0;}
        50% { background-position: 0% 30%, 0 0;}
        }
    @keyframes gradientAnimation {
        0%   { background-position: 0% 30%, 0 0;}
        25%  { background-position: 100% 70%, 0 0;}
        50% { background-position: 0% 30%, 0 0;}
        }
    
    .imagen-inicio {
        h1 {
            @include titulos(nth($font-family, 6), nth($font-size, 8), $aling, $text-uppercase);
            letter-spacing: $letter-spacing;
            text-shadow: $text-shadow;
            color: nth($color, 9);
            margin-top: 15%;
            @include prefijos2(all 2s ease-in-out);
        
            &:hover {
                   @include prefijos(scale(1.25))
            }
        }
        
        p {
        @include sub-titulos(nth($font-family, 4), nth($font-size, 4), $aling);
        margin: 2px;
        letter-spacing: $letter-spacing - 6px;
        color: nth($color, 9);
        text-shadow: $text-shadow;
        }           
    }
}



/* PREFERENCIAS */

.preferencias {
    background-color: nth($color, 8);
    background-image: url("../multimedia/preferencias_fondo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: $ancho;
    text-align: $aling;
    padding: 90px 0px;


        h2 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing *2;
        padding-bottom: 60px;
        color: nth($color, 7);
        }

        .preferencias-contenedor {
        @extend %flex;
        
           
        .preferencias-card {
            width: 165px;
            margin: 55px 90px;
            @extend %flex;
            

            }
            
            .preferencias-card:hover {
            width: 165px;
            background: nth($color,8);
            border: nth($color, 2) 2px solid;
            border-radius: $border-radius;
            }
    
            .preferencias-img1, .preferencias-img2, .preferencias-img3, .preferencias-img4,.preferencias-img5, .preferencias-img6 {
                width: $ancho - 25%;  

                
            }

            .preferencia-a {
            @extend %texto;
            letter-spacing: $letter-spacing - 8px;
            color: nth($color, 2);
            position: absolute;
            margin-top: 180px;        
            }

    }
}
/* FIN PREFERENCIAS */


/* TOP-10 */
.top-10 {
    background-color: nth($color, 5);
    padding-bottom: 70px;
    padding: 80px 0 110px 0;

    h2 {
        @include titulos(nth($font-family, 6), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing *2;
        color: nth($color, 6);
    }

    p {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 2), $aling);
        letter-spacing: $letter-spacing - 8px;
        color: nth($color, 9);
        padding-bottom: 30px;
    }

    .destinos-contenedor {
    @extend %flex-2;
    padding-right: 30px;
    padding-left: 30px;

        .destinos-card {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        @include prefijos2(all 1s ease-in-out);
        padding: 15px;
        
        &:hover {
            @include prefijos(scale(1.1))
        }
        
        img {
        border-radius: $border-radius;
        width: $ancho;
        }

        .top-a {
        @extend %texto;
        color: nth($color, 9);
        text-shadow: $text-shadow;
        margin-top: -54px;
        margin-bottom: 30px;
        }
        }
    }

    .flecha {
        margin: -40px;

        .flecha-icon {
            width: 4rem;
            height: 4rem;
        }
        
    }
}
/* FIN TOP-10 */

/* MAPA */

.mapa-1 {
    background-color: nth($color, 8);
    padding: 80px 0 110px 0;

    h2 {
        @include titulos(nth($font-family, 4), nth($font-size, 5), $aling, $text-uppercase);
        letter-spacing: $letter-spacing;
        color: nth($color, 7);
        padding: 20px 0;
    }

    p {
        @include sub-titulos(nth($font-family, 5), nth($font-size, 2), $aling);
        color: nth($color, 1);
        padding-bottom: 20px;
    }

    .gps {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        .gps1, .gps2, .gps3, .gps4, .gps5, .gps6, .gps7, .gps8 {
        width: 2%;
        opacity:0;
        @include prefijos2(all 1.5s ease-in-out)
        }
    }

&:hover .gps1 {
    @include prefijos(translateY(180px));
    opacity:5;
}

&:hover .gps2 {
    @include prefijos(translateY(360px));
    opacity:5;
}

&:hover .gps3 {
    @include prefijos(translateY(643px));
    opacity:5;
}

&:hover .gps4 {
    @include prefijos(translateY(450px));
    opacity:5;
}

&:hover .gps5 {
    @include prefijos(translateY(550px));
    opacity:5;
}

&:hover .gps6 {
    @include prefijos(translateY(300px));
    opacity:5;
}

&:hover .gps7 {
    @include prefijos(translateY(654px));
    opacity:5;
}

&:hover .gps8 {
    @include prefijos(translateY(195px));
    opacity:5;
}

}

/* FIN MAPA */

/* CONTACTO */
.contacto {
    background: linear-gradient(45deg, rgba(181,144,255,.5), 
    rgba(199,255,240,.5), rgba(181,144,255,.5),
    rgba(199,255,240,.5)) 0 0 / 1000% no-repeat, 
    url("../multimedia/imagen-contacto.jpg") 0 0 / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: $ancho;
    padding: 90px;

    .formulario {
    @extend %flex;

    .form {
    box-shadow: $text-shadow;
    border-radius: $border-radius;
    width: $ancho - 60%;
    background: nth($color, 9);
    overflow: hidden;
    padding: 45px;

        h2 {
        @include titulos(nth($font-family, 4), nth($font-size, 4), $aling, $text-uppercase);
        color: nth($color, 1);
        letter-spacing: $letter-spacing - 6px;
        margin-bottom: 20px;
        }

        .form-label {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 1), left);
        color: nth($color, 5);
        margin-bottom: 7px;
        }

        .form-input {
        border-width: 0px;
        border-bottom: nth($color, 2) 1px solid;
        background: transparent;
        width: $ancho;
        margin-bottom: 30px;
        outline: 0;
        }

        .select {
        text-transform: none;
        @include sub-titulos(nth($font-family, 3), nth($font-size, 1), left);
        color: nth($color, 1);
        }

        .form-textarea {
        border: nth($color, 2) 1px solid;
        width: $ancho;
        margin-bottom: 10px;
        outline: 0;
        }
    
        button {
            width: $ancho - 70%;
            background-color: nth($color, 6);
            border: 1px solid nth($color,6);
            @include titulos(nth($font-family, 2), nth($font-size, 1), $aling, $text-uppercase);
            color: nth($color, 9);
            @extend %boton;
            text-decoration: none;
            cursor: pointer;

        &:hover{
        background-color: nth($color,5);
        border: 1px solid nth($color,5);
        }
        } 
    }
    }
}


/* WHATSAPP */
.wsp {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    background-color: #4dc247;
    box-shadow: $text-shadow;
    border-radius: 50%;
    padding: 9px;
    width: 3.5%;

    .wsp-icon {
        width: 100%;
        height: 100%;
    }
}
/* FIN WHATSAPP */

/* FIN CONTACTO */


// /* MEDIA QUERYS INDEX */ //

// /* Mobile */
 @media only screen and (max-width:400px) {

    .container-background {
        height: 80vh;
    
        .imagen-inicio {
        width: $ancho;
        
        h1 {
        @include titulos(nth($font-family, 6), nth($font-size, 7), $aling, $text-uppercase);
        padding: 35px 10px;
        }
        
        p {
        @include sub-titulos(nth($font-family, 4), nth($font-size, 3), $aling);
        padding: 15px 10px;
        }    
        }
    }
    
    .preferencias {

        h2 {
            @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
            letter-spacing: $letter-spacing - 2px;
            padding: 20px 30px;
            color: nth($color, 7);
            }

        .preferencias-contenedor {
            @extend %flex;
           
            .preferencias-card {
            @extend %flex;
            margin: 10px 0 70px 0;
            width: $ancho - 40%;
            }
            
            .preferencias-img {
                border-radius: $border-radius;
                width: $ancho;
                @include prefijos2(2.5s all)
            }

            .preferencia-a {
            margin-top: 200px;
            font-size: nth($font-size, 5);
            }
        }
    }

    .top-10 {

        p {
            padding-bottom: 30px;
        }

        .destinos-contenedor{
            display: flex;
            padding: 0 40px;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            .destinos-card {

                .top-a {
                font-size: nth($font-size, 5);
                margin-top: -75px;
                } 
            }
        }   

        .flecha {
            margin: 0px;
            width: $ancho - 65%;
        }
    }

    .mapa-1 {
        padding: 10px 0 30px 0;
       
        p {
        padding: 0 30px;
        }
        
    &:hover .gps1 {
        @include prefijos(translateY(50px));
        opacity:5;
    }
    
    &:hover .gps2 {
        @include prefijos(translateY(95px));
        opacity:5;
    }
    
    &:hover .gps3 {
        @include prefijos(translateY(170px));
        opacity:5;
    }
    
    &:hover .gps4 {
        @include prefijos(translateY(117px));
        opacity:5;
    }
    
    &:hover .gps5 {
        @include prefijos(translateY(145px));
        opacity:5;
    }
    
    &:hover .gps6 {
        @include prefijos(translateY(80px));
        opacity:5;
    }
    
    &:hover .gps7 {
        @include prefijos(translateY(170px));
        opacity:5;
    }
    
    &:hover .gps8 {
        @include prefijos(translateY(51px));
        opacity:5;
    }
    
    }
     
    .contacto {
        padding: 30px 0;
    
        .formulario {
    
        .form {
        width: $ancho - 20%;
        padding: 40px 30px;
    
            button {
            padding-left: 8px;
            } 
        }
        }
    }
    
    .wsp {
    vertical-align: middle;
    }
}

// /* Tablet  */
 @media only screen and (min-width:401px) and (max-width:768px) {

    .container-background {
    
        .imagen-inicio {

        
        h1 {
        padding: 35px 0;
        }
        
        p {
        padding: 25px 0;
        }    
        }
    } 

    
    .preferencias {
    margin-bottom: 0;

        h2 {
        padding: 0 0 40px 0;
        text-align: $aling;
        }

        .preferencias-contenedor { 
            .preferencias-card {
                margin: 15px 0 40px 0;
                width: $ancho - 70%;
                }
                
        .preferencia-a {
        font-size: nth($font-size, 4);
        position: relative;
        margin-top: 5px;
        } 

    }
}

.top-10 {
    padding-bottom: 50px;
    padding-top: 50px;

    p {
        padding-bottom: 0px;
    }
    
    .destinos-contenedor {

        .destinos-card {
            padding: 15px 8px;

        img {
        width: $ancho;
        }

        .top-a {
        font-size: nth($font-size, 1);
        margin-top: -35px;
        }
        }
    }

    .flecha {
        margin: 15px;
        width: 10%;
    }
}

    .mapa-1 {
        padding: 10px 0;

        h2{
        padding: 30px 65px;
        font-size: nth($font-size, 5);
        }

        p { 
        padding: 0 0 0 0;
        font-size: nth($font-size, 3);
        }

        .mapa-1-img {
        padding: 0px;
        margin: 0 0 20px 0;
        }
        &:hover .gps1 {
            @include prefijos(translateY(112px));
            opacity:5;
        }
        
        &:hover .gps2 {
            @include prefijos(translateY(200px));
            opacity:5;
        }
        
        &:hover .gps3 {
            @include prefijos(translateY(337px));
            opacity:5;
        }
        
        &:hover .gps4 {
            @include prefijos(translateY(240px));
            opacity:5;
        }
        
        &:hover .gps5 {
            @include prefijos(translateY(300px));
            opacity:5;
        }
        
        &:hover .gps6 {
            @include prefijos(translateY(170px));
            opacity:5;
        }
        
        &:hover .gps7 {
            @include prefijos(translateY(340px));
            opacity:5;
        }
        
        &:hover .gps8 {
            @include prefijos(translateY(115px));
            opacity:5;
        }
    }

        
    .contacto {
        padding: 30px 0;
    
        .formulario {
    
        .form {
        width: $ancho - 20%;
        padding: 40px 30px;
    
            button {
            padding-left: 8px;
            } 
        }
        }
    }

    .wsp {
        vertical-align: middle;
        margin: 25px;
        }

}

/* FIN MEDIA QUERYS INDEX */

/* FIN INDEX */
