/* HTML PERFIL */

.recorridos {
    background-color: nth($color, 11);
    text-align: $aling;
    padding: 120px 0 100px 0;

    .recorridos-inicio {
    @extend %flex-3;
    padding-bottom: 70px;

        h1 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing *2;
        color: nth($color, 5);
        }
    
        img {
        width: 5%;
        border-radius: 40px;
        }
    }

    .boton-ciudades{
        padding: 20px 0 45px 0;

        h3 {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 4), $aling);
        color: nth($color, 9);
        padding-bottom: 40px;
        }

        a{
        @include sub-titulos(nth($font-family, 3), nth($font-size, 2), $aling);
        text-decoration: $text-none;
        color: nth($color, 3);
        background-color: nth($color, 4);
        @extend %boton;
        margin: 60px;

        &:hover {
        background-color: nth($color, 3);
        color: nth($color, 4);
        }
        }
    }

    .lugares-contenedor {
    width: $ancho;
    @extend %flex;
    padding: 60px 0 95px 0;

        .lugares-card {
        @extend %flex;
        width: $ancho - 70%;
        @include prefijos2(all 1s ease-in-out);
        &:hover {
            @include prefijos(scale(1.05))
            }
            
            img {
            width: $ancho - 30%;
            border-radius: 8px 8px 0px 0px;
            box-shadow: $text-shadow;
            }  

            a {
            @include titulos(nth($font-family, 5), nth($font-size, 1), $aling, $text-uppercase);
            letter-spacing: $letter-spacing - 5px;
            text-decoration: $text-none;
            color: nth($color, 11);
            width: $ancho - 30%;
            height: 20%;
            padding: 10px;
            border-radius: 0 0 8px 8px;
            }

            .lugar1 {
            background-color: nth($color, 5);
            }

            .lugar2 {
            background-color: nth($color, 8);
            }

            .lugar3 {
            background-color: nth($color,7);
            }
        }   
    }

    .lugar-mapa {
        margin-top: -110px;
        margin-bottom: 70px;
        

            .lugar1-marcador {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-color: nth($color, 5);
            position: relative;
            top: 415px;
            left: 668px;
            box-shadow: $text-shadow;
            }

            .lugar2-marcador {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-color: nth($color, 8);
            position: relative;
            top: 300px;
            left: 614px;
            box-shadow: $text-shadow;
            }

            .lugar3-marcador {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-color: nth($color,7);
            position: relative;
            top: 105px;
            left: 607px;
            box-shadow: $text-shadow;
            }
    }
}

.opiniones {
    background-color: nth($color,4);
    text-align: $aling;
    padding: 100px 0;
    
    h2 {
    @include titulos(nth($font-family, 6), nth($font-size, 5), $aling, $text-uppercase);
    letter-spacing: $letter-spacing;
    color: nth($color, 2);
    padding-bottom: 30px;
    }

    .opiniones-contenedor {
    @extend %flex-2;
    width: $ancho;
    
            p {
            @include sub-titulos(nth($font-family, 3), nth($font-size, 1), $aling);
            margin: 30px;
            line-height: 25px;
            padding: 20px;
            border: nth($color, 2) 2px solid;
            color: nth($color, 9);
            }
    }
}

/* MEDIA QUERYS PERFIL */

@media only screen and (max-width:400px) {
    .recorridos {
    padding: 70px 30px 100px 30px;

        .recorridos-inicio {
        padding-bottom: 45px;

            h1 {
                font-size: nth($font-size, 4);
                letter-spacing: $letter-spacing - 5px;
                padding-bottom: 15px;
            }

            img {
            width: 20%;
            }
        }
    
        .boton-ciudades{
            display: flex;
            flex-direction: column;
            padding: 0;           

            a{
            margin: 10px;
            }
        }
    
        .lugares-contenedor {
            display: flex;
            flex-direction: column;
            margin: 15px 0;

            .lugares-card {
            width: $ancho;
            margin: 20px 0;

            .lugar1 {
                width: $ancho;
            }

            .lugar2 {
                width: $ancho;
            }

            .lugar3 {
                width: $ancho;
            }
                
                img {
                width: $ancho;
                border-radius: 12px 12px 0px 0px;
                }  
    
           }   
        }
    
        .lugar-mapa {  
            margin-top: -205px;
            margin-bottom: 30px;
    
                .lugar1-marcador {
                position: relative;
                top: 465px;
                left: 150px;
                }
    
                .lugar2-marcador {
                position: relative;
                top: 350px;
                left: 100px;
                }
    
                .lugar3-marcador {
                position: relative;
                top: 160px;
                left: 85px;
                }

                .mapa {
                margin: 45px 0 -40px 0;
                width: $ancho;
                }
        }
    }
    
    .opiniones {
        padding: 50px 30px;
        
        h2 {
        padding-bottom: 10px;
        font-size: nth($font-size, 4);
        letter-spacing: $letter-spacing - 6px;
        }
    
        .opiniones-contenedor {
        display: flex;
        flex-direction: column;
        }
    } 
}

// /* Tablet  */
@media only screen and (min-width:401px) and (max-width:768px) {
    .recorridos {
    padding: 70px 30px 20px 30px;
    
        .recorridos-inicio {
        padding-bottom: 45px;
    
            img {
            width: 10%;
            }
        }
    
        .boton-ciudades{
            a{
            margin: 15px;
            }
        }
    
        .lugares-contenedor {
            padding: 15px 0 80px 0;
    
            .lugares-card {
            width: $ancho - 60%;
            margin: 0 -25px;    
           }   
        }
    
        .lugar-mapa {  
    
                .lugar1-marcador {
                position: relative;
                top: 415px;
                left: 350px;
                }
    
                .lugar2-marcador {
                position: relative;
                top: 300px;
                left: 300px;
                }
    
                .lugar3-marcador {
                position: relative;
                top: 105px;
                left: 295px;
                }

                .mapa {
                    width: $ancho - 5%;
                }
        }
    }
    
    .opiniones {
        padding: 50px 0;
        
        h2 {
        padding-bottom: 10px;
        }
    
        .opiniones-contenedor {
        display: flex;
        flex-direction: column;
                   
        p {
        font-size: 18px;
        }
        
        }
    } 
}

/* FIN MEDIA QUERYS PERFIL */



/* FIN HTML PERFIL */
