
/* Perfil */
.recorridos {
    background-color: nth($color, 9);
    text-align: $aling;
    padding: 120px 0 100px 0;

    .recorridos-inicio {
    @extend %flex-3;
    padding-bottom: 70px;

        h1 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing *2;
        color: nth($color, 4);
        }
    
        img {
        width: 5%;
        border-radius: 40px;
        }
    }

    .boton-ciudades{
    padding: 20px 0 45px 0;

        h2 {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 4), $aling);
        color: nth($color, 7);
        padding-bottom: 40px;
        }

        a {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 2), $aling);
        text-decoration: $text-none;
        color: nth($color, 1);
        background-color: nth($color, 3);
        @extend %boton;
        margin: 60px;

            &:hover {
            background-color: nth($color, 2);
            color: nth($color, 3);
            }
        }
    }

    .lugares-contenedor {
    width: $ancho;
    @extend %flex;
    padding: 60px 0 95px 0;

        .lugares-card {
        @extend %flex;
        width: $ancho - 70%;
        @include prefijos2(all 1s ease-in-out);

            &:hover {
            @include prefijos(scale(1.05))
            }
            
            img {
            width: $ancho - 30%;
            border-radius: 8px 8px 0px 0px;
            box-shadow: $text-shadow;
            }  

            a {
            @include titulos(nth($font-family, 5), nth($font-size, 1), $aling, $text-uppercase);
            letter-spacing: $letter-spacing - 5px;
            text-decoration: $text-none;
            color: nth($color, 9);
            width: $ancho - 30%;
            height: 20%;
            padding: 10px;
            border-radius: 0 0 8px 8px;
            }

            .lugar1 {
            background-color: nth($color, 4);
            }

            .lugar2 {
            background-color: nth($color, 6);
            }

            .lugar3 {
            background-color: nth($color, 5);
            }
        }   
    }

    .lugar-mapa {
    margin-top: -110px;
    margin-bottom: 70px;
        
        .lugar1-marcador {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        background-color: nth($color, 4);
        position: relative;
        top: 410px;
        left: 674px;
        box-shadow: $text-shadow;
        }

        .lugar2-marcador {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        background-color: nth($color, 6);
        position: relative;
        top: 297px;
        left: 620px;
        box-shadow: $text-shadow;
        }

        .lugar3-marcador {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        background-color: nth($color, 5);
        position: relative;
        top: 105px;
        left: 611px;
        box-shadow: $text-shadow;
        }

        .mapa {
            width: $ancho - 20%;
        }
    }
}

.opiniones {
    background-color: nth($color, 3);
    text-align: $aling;
    padding: 100px 0;
    
    h3 {
    @include titulos(nth($font-family, 6), nth($font-size, 5), $aling, $text-uppercase);
    letter-spacing: $letter-spacing;
    color: nth($color, 1);
    padding-bottom: 30px;
    }

    .opiniones-contenedor {
    @extend %flex-2;
    width: $ancho;

        .opiniones-card {
        border: nth($color, 1) 2px solid;
        margin: 20px;
        padding: 30px;

            .opiniones-titulo {
                @include sub-titulos(nth($font-family, 4), nth($font-size, 1), $aling);
                line-height: 25px;
            }

            .opiniones-texto {
            @include sub-titulos(nth($font-family, 3), nth($font-size, 1), $aling);
            line-height: 25px;
            color: nth($color, 7);
            }
        }
    }
}

/* Media Querys Perfil */

/* Mobile */
@media only screen and (max-width:480px) {
    .recorridos {
    padding: 45px 20px;

        .recorridos-inicio {
        padding-bottom: 40px;

            h1 {
            letter-spacing: $letter-spacing;
            }

            img {
            margin-top: 7px;
            width: 20%;
            }
        }
    
        .boton-ciudades{
        display: flex;
        flex-direction: column;
        padding: 20px 58px;   
        
            h2 {
            padding-bottom: 20px;
            }

            a{
            margin: 10px 0;
            }
        }
    
        .lugares-contenedor {
        display: flex;

            .lugares-card {
            width: $ancho;
            margin: 20px 30px;

                .lugar1 {
                width: $ancho;
                }

                .lugar2 {
                width: $ancho;
                }

                .lugar3 {
                width: $ancho;
                }
                
                img {
                width: $ancho;
                }  
            }   
        }
    
        .lugar-mapa {  
            margin-top: -130px;
            margin-bottom: 15px;
    
                .lugar1-marcador {
                position: relative;
                top: 408px;
                left: 200px;
                }
    
                .lugar2-marcador {
                position: relative;
                top: 297px;
                left: 147px;
                }
    
                .lugar3-marcador {
                position: relative;
                top: 116px;
                left: 145px;
                }

                .mapa {
                width: $ancho - 10%;
                }
        }
    }
    
    .opiniones {
    padding: 45px 20px;
        
        h3 {
        padding-bottom: 20px;
        letter-spacing: $letter-spacing - 8px;
        }
    
        .opiniones-contenedor {
        display: flex;
        flex-direction: column;

            .opiniones-card {
            padding: 20px;
                .opiniones-titulo, .opiniones-texto {
                font-size:  nth($font-size, 2);
                line-height: 35px;
                }
            }
        }
    } 
}

/* Tablet  */
@media only screen and (min-width:481px) and (max-width:768px) {
    .recorridos {
    padding: 40px;
    
        .recorridos-inicio {
        padding-bottom: 20px;

            h1 {
            margin: 25px 0;
            letter-spacing: $letter-spacing *1.5;
            }
    
            img {
            width: 10%;
            }
        }
    
        .boton-ciudades{
            a{
            margin: 15px;
            }
        }
    
        .lugares-contenedor {
            padding: 15px 0 80px 0;
    
            .lugares-card {
            width: $ancho - 60%;
            margin: 0 -25px;    
           }   
        }
    
        .lugar-mapa {  
        margin-bottom: 40px;
            .lugar1-marcador {
            position: relative;
            top: 415px;
            left: 350px;
            }
    
            .lugar2-marcador {
            position: relative;
            top: 300px;
            left: 300px;
            }
    
            .lugar3-marcador {
            position: relative;
            top: 105px;
            left: 295px;
            }

            .mapa {
            width: $ancho - 5%;
            }
        }
    }
    
    .opiniones {
    padding: 40px;
        
        h3 {
        padding: 20px 0;
        }
    
        .opiniones-contenedor {
        display: flex;
        flex-direction: column;
                   
            .opiniones-card {
            padding: 15px;
            }
        }
    } 
}
/* Fin Media Querys Perfil */

/* Fin Perfil */