$color: 
#1abc9c, /* 1 */
#39c2b6, /* 2 */
#76c0b4,/* 3 */
#c7fff0, /* 4 */
#6e50f9, /* 5 */
#7f44f8, /* 6 */
#7d60f5,/* 7 */
#b590ff,/* 8 */
#515151, /* 9 */
#eeeeee,/* 10 */
#fafafa; /* 11 */

$font-size:
15px, 
20px, 
22px, 
25px, 
30px, 
35px, 
60px, 
70px; 

$font-family:
"raleway-light", 
"raleway-regular", 
"raleway-medium", 
"raleway-bold", 
"raleway-bold-italic", 
"raleway-extrabold"; 