$color: 
#88b773, 
#f6fafb, 
#a2a6de52,
#5E5E5E, 
#89b77357, 
#A2A6DE, 
#eef1f2,
#333332;

$font-size:
15px, 
20px, 
22px, 
25px, 
30px, 
35px, 
60px, 
70px; 

$font-family:
"raleway-light", 
"raleway-regular", 
"raleway-medium", 
"raleway-bold", 
"raleway-bold-italic", 
"raleway-extrabold"; 