/* Tipografías */
@font-face {
font-family: "raleway-light";
src: url("../font/Raleway-Light.ttf");
}

@font-face {
font-family: "raleway-regular";
src: url("../font/Raleway-Regular.ttf");
}

@font-face {
font-family: "raleway-medium";
src: url("../font/Raleway-Medium.ttf");
}

@font-face {
font-family: "raleway-bold";
src: url("../font/Raleway-Bold.ttf");
}

@font-face {
font-family: "raleway-bold-italic";
src: url("../font/Raleway-BoldItalic.ttf");
}

@font-face {
font-family: "raleway-extrabold";
src: url("../font/Raleway-ExtraBold.ttf");
}
/* Fin Tipografías */